@model Club
@{
    ViewData["Title"] = "Delete club";
}

<h1>Club: Delete</h1>
<h6>Do you want to delete the club?</h6>
<form asp-action="DeleteClub">
    <input type="hidden" asp-for="Id"/>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    <button type="submit" class="btn btn-danger">Confirm</button>
</form>