@model ClubCreationViewModel

@{
    ViewData["Title"] = "Edit club";
}

<h1>Club: Edit</h1>

<form asp-action="Edit">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="LeagueId" class="form-label"></label>
        <select class="form-select" asp-for="LeagueId" asp-items="Model.Leagues"></select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>