@{
    ViewData["Title"] = "Clubs";
}

<h1>Clubs</h1>
<a asp-action="Create" class="btn btn-primary">Create new club</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Club</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var club in Model)
        {
            <tr>
                <td>
                    @club.Id
                </td>
                <td>
                    @club.Name
                </td>
            </tr>
        }
    </tbody>
</table>