@{

}


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Club</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var club in Model)
        {
            <tr>
                <td>
                    @club.Id
                </td>
                <td>
                    @club.Name
                </td>
            </tr>
        }
    </tbody>
</table>