@{
    ViewData["Title"] = "Clubs";
}

<h1>Clubs</h1>
<a asp-action="Create" class="btn btn-primary">Create new club</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Club</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var club in Model)
        {
            <tr>
                <td>
                    @club.Id
                </td>
                <td>
                    @club.Name
                </td>
                <td style="text-align:right">
                    <a asp-action="Edit" asp-route-id="@club.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@club.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>