@model Country
@{
    ViewData["Title"] = "Country: Delete";
}

<h1>Country: Delete</h1>
<h6>Do you want to delete the country?</h6>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id"/>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>